<div class="container" style="margin-top:20px">

  <div class="row">
    <div class="col">
      <div class="page-title"
        style="font-size:35px;font-family: 'Open Sans', sans-serif;font-weight: 600;color:#052a30;">Update user</div>

    </div>

  </div>
  <hr style="background-color: black ">
  <a style="box-shadow: 2px 3px 6px  rgba(0,0,0,0.16);" class="previous" routerLink="/dashboard/user-list">&laquo;
    Back to user list</a>




  <div class="col-7" style="margin-top:20px">
    <div class="form-group">
      <label for="exampleInputPassword1">*Name:</label>
      <input type="text" class="form-control" placeholder="ex:John Doe" [(ngModel)]="update_user.name">
    </div>
  </div>

  <div class="col-7">
    <div class="form-group">
      <label for="exampleInputPassword1">*Email:</label>
      <input [(ngModel)]="update_user.email" type="text" class="form-control" placeholder="ex:johndoe@mail.com">
    </div>
  </div>

  <div class="form-group" style="margin-left:20px">
    <label for="exampleInputPassword1">Sex:</label>
    <div class="radio">
      <label><input [(ngModel)]="gender" type="radio" value="Masculin">
        Male</label>
    </div>
    <div class="radio">
      <label><input [(ngModel)]="gender" type="radio" value="Feminin">
        Female</label>
    </div>
  </div>

  <div class="col-7">
    <div class="form-group">
      <label for="exampleInputPassword1">*Password:</label>
      <input type="password" class="form-control" [(ngModel)]="update_user.password" placeholder="minimum 6 caracters">
    </div>
  </div>

  <div class="col-7">
    <div class="form-group">
      <label for="exampleInputPassword1">*Confirm password:</label>
      <input type="password" class="form-control" [(ngModel)]='confirm_password' placeholder="minimum 6 caracters">
    </div>
  </div>


  <div *ngIf="this.validation===false">
    <div class="alert alert-danger" *ngFor="let message of errorMessages" style="margin-top:30px">
      {{message}}
    </div>
  </div>

  <div *ngIf="updated_user.error">
    <div class="alert alert-danger" style="margin-top:30px">
      {{updated_user.error}}
    </div>
  </div>

  <div *ngIf="updated_user.message">
    <div class="alert alert-success" style="margin-top:30px">
      {{updated_user.message}}
    </div>
  </div>


  <button class="btn btn-primary" (click)="putUser()" style="margin-bottom:30px"> Create user
  </button>







</div>