<div class="footer" style="background-color: #343a40!important;color:white">
  <div class="container">
    <div class="row">
      <div class="col" style="margin:15px">
        <h6 style="color:#919191;font-family: 'Open Sans', sans-serif;font-weight: 600">INTERESTING LINKS</h6>
        <p style="color:#DDDDDD">Bellow are some interesting links for you! Enjoy your stay :)</p>
        <br> <a href="#" class="fa fa-twitter"></a><a style="margin-left:10px" href="#" class="fa fa-facebook"></a>
      </div>

      <div class="col" style="margin:15px">
        <h6 style="color:#919191;font-family: 'Open Sans', sans-serif;font-weight: 600">LATEST NEWS</h6>
        <ul style="color:#919191;font-family: 'Open Sans', sans-serif;">
          <li>Move</li>
          <li>Landscape</li>
          <li>Fertilization</li>
          <li>Clean Up</li>
        </ul>
      </div>

      <div class="col" style="margin:15px">
        <h6 style="color:#919191;font-family: 'Open Sans', sans-serif;font-weight: 600">BUSINESS HOURS</h6>
        <p style="color:#DDDDDD">Our support Hotline is available 24 Hours a day: (555) 343 456 7891 </p>
        <br>
        <h6 style="font-family: 'Open Sans', sans-serif;color:#DDDDDD"> <b>Monday-Friday :</b> 9am to 5pm</h6>
        <h6 style="font-family: 'Open Sans', sans-serif;color:#DDDDDD"><b>Saturday :</b> 10am to 2pm</h6>
        <h6 style="font-family: 'Open Sans', sans-serif;color:#DDDDDD"><b>Sunday :</b> Closed</h6>
      </div>
    </div>
  </div>
</div>