/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/*
body {
    height: 100%;
    background-image: url("poza2.jpg");
    background-repeat: no-repeat;


    background-size: cover;
}*/

html, body {
    min-height: 90vh;

    margin: 0;
  }/*background full pe componenta!!*/