<div class="img">
        <div class="container">
                <br><br>
                <h5>2018</h5>
                <h1>Natural<br>Enviorenment </h1>
        </div>

        <div class="container">
                <p>This is an awsome combination of stee and nature.Excellent </p>
                <p> place away from civilization and whole crowded where are </p>
                <p> designers wanted to keep integrity with nature.The place </p>
                <p> created for you and your world.There is no time . . . </p>
        </div>


        <div class="container">
                <div class="vertical-center pagination-centered">
                        <button type="button" class="btn btn-success"
                                style="background-color:rgb(32, 192, 123);">Explore</button>
                </div>
        </div>


        <div class="container" style="margin-top:-40px;">
                <div class="row">

                        <h4 class="col-sm">Architect <br><br>
                                <h3>Paula Blaga</h3>
                        </h4>
                        <h4 class="col-sm">Web Designed by<br><br>
                                <h3>Horia Dobinda</h3>
                        </h4>
                        <h4 class="col-sm">Location <br><br>
                                <h3> Carpathyans</h3>
                        </h4>


                        <br>
                </div>
        </div>

</div>